{% extends "warden/inc/base.html" %}

{% block content %}
{% include "warden/inc/messages.html" %}
<div class="form">
        <div class="wrapper">          
            <div class="text-center mt-4 mb-5 name">
                Warden
            </div>
            <form class="p-3 mt-3" action="{% url "wardenloginpage" %}" method="POST">
                {% csrf_token %}
                <div class="form-field d-flex align-items-center">
                    <span class="far fa-user"></span>
                    <input type="text" name="username" id="username" placeholder="username">
                </div>
                <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span>
                    <input type="password" name="password" id="pwd" placeholder="Password">
                </div>
                <button class="btn mt-5" type="submit">Login</button>
                
            </form>
            {% comment %} <div class="text-center fs-6">
                <a href="#">Forget password?</a> or <a href="#">Sign up</a>
            </div> {% endcomment %}
        </div>
</div>
{% endblock content %}