{% extends "student/inc/base.html" %}
{% block content %}
{% include "student/inc/messages.html" %}

<div class="container d-flex justify-content-center align-items-center" style="height:100vh;">
    <div class="form ">
        <form action="{% url "changePassword" %}" method="POST" class="bg-primary p-5 rounded">
            {% csrf_token %}
            <div class="header">
                <h4>Reset Your Password</h4>
            </div>
            <div class="content">
                <div class="new-pass d-flex flex-column mb-4 mt-4">
                    <label for="new_password">Create New Password :</label>
                    <input type="password" name="new_pass" placeholder="New Password" class="ml-3 w-100  ">
                </div>
                <div class="con-pass d-flex flex-column">
                    <label for="confirm_pass">Confrim Password :</label>
                    <input type="password" name="confirm_pass" placeholder="Confrim Password" class="ml-3 w-100">
                </div>
                <div class="btn text-center d-flex mt-4 justify-content-center">
                    <button class="btn btn-success " type="submit">Change Password</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}