{% extends "student/inc/base.html" %}
{% block content %}
{% include "student/inc/messages.html" %}

<div class="container">
    <form action="{% url "confirmOTP" %}" method = "POST">
        <div class="container height-100 d-flex justify-content-center align-items-center">
            <div class="position-relative">
                {% csrf_token %}
                <div class="card p-2 text-center">
                    <h6>Please enter the one time password <br> to verify your account</h6>
                    <div> <span>A code has been sent to</span> <small>{{mail}}</small> </div>
                    <input type="number" name="otp">
                    <div class="mt-4"> <button class="btn btn-danger px-4 validate" type="submit">Validate</button> </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
