<nav class=" bg-primary rounded d-flex justify-content-between ">
    <div>
      <h4 class="brand p-2">Hello.. {{name| upper}}</h4>
    </div>
    
  <div>
    <ul class=" d-flex p-2">
      {% if reqData %}
      <li class=" mr-4 ">
        <a class=" btn btn-secondary "  class="btn btn-primary"  href="{% url "index" %}">Back</a>
      </li>
      
      {% else %}
      <li class=" mr-4 ">
        <a class=" btn btn-secondary "  class="btn btn-primary"  href="{% url "preRequest" %}">Pre Requests</a>
      </li>
      <li class=" mr-4 ">
        <a class=" btn btn-success "  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" href="{% url "Request" %}">+ New Requests</a>
      </li>  
      <li class="">
        <a class=" btn btn-danger " href="{% url "studentlogout" %}">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>

  </nav>
  
<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close btn btn-danger" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">

        <form method="POST" action="{% url "Request" %}">
          {% csrf_token %}
          <div class="container">
            <div class="row">
              <div class="col-md-12 d-flex flex-column">
                <label for="regNo">Register number : </label>
                <input type="number" name="regNo" value="{{regNo}}" readonly="readonly">
              </div>
              
              <div class="col-md-12 d-flex flex-column">
                <label for="username">Name : </label>
                <input type="text" name="username"  value="{{name}}" readonly="readonly">
              </div>

              <div class="col-md-12 d-flex flex-column">
                <label for="year">Year : </label>
                <input type="text" name="year"value="{{year}}" readonly="readonly">
              </div>
              <div class="col-md-12 d-flex flex-column" >
                <label for="phone_number">Phone Number : </label>
                <input type="number" name="phone_number"  value="{{pNumber}}" readonly="readonly">
              </div>

              <div class="col-md-12 d-flex flex-column" >
                <label for="parent_number">Parent Number : </label>
                <input type="number" name="parent_number"  value="{{parent_number}}" readonly="readonly">
              </div>

              <div class="col-md-12 d-flex flex-column" >
                <label for="distination">Destination : </label>
                <input type="text" name="distination"  required>
              </div>

              <div class="col-md-12 d-flex flex-column" >
                <label for="purpose">Purpose : </label>
                <input type="text" name="purpose"  required>
              </div>
              

              <div class="col-md-12 d-flex flex-column" >
                <label for="outTime">Out Date & Time : </label>
                <input type="datetime-local" name="outTime"  required>
              </div>
              
              <div class="col-md-12 d-flex flex-column" >
                <label for="inTime">In Date & Time : </label>
                <input type="datetime-local" name="inTime"  required>
                
              </div>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send Request</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>